/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --color-backgroud: #212121;
  --color-primary: #df048c;
  --color-text: #f9f9f9;

  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', Arial, sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--color-backgroud);
  color: var(--text-color);
}

h1, h2, h3, h4, p {
  color: var(--title-color);
  line-height: 1.25;
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav {
  margin-top: 1rem;
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle {
  display: flex;
  color: var(--color-text);
  cursor: pointer;
}

.nav__logo__img {
  height: 5rem;
  font-weight: var(--font-semi-bold);
  column-gap: .25rem;
  border-radius: 50%;
}

.nav__logo__container {
  margin-top: 3rem;
  display: grid;
  place-items: center;
}

.nav__logo__quote {
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
  .nav__menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: hsla(228, 24%, 6%, .2);
    backdrop-filter: blur(16px);
    --webkit-backdrop-filter: blur(16px);
    width: 50%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--color-text);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__close {
  font-size: 1.25rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
}
/* Show menu */
.show-menu {
  right: 0;
}

/* Add blur header */


/* Active link */


/*=============== HOME ===============*/


/*=============== BUTTON ===============*/


/*=============== NEWS ===============*/


/*=============== SHOP ===============*/


/*=============== CARE ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */